body{
   margin:0px;
   min-width:768px;
}

#For-mobile-tablet{
   background-image: radial-gradient(at left bottom , #006d77, #83c5be);
   height:100vh;
   /* overflow:hidden; */
   background-repeat:no-repeat;
}

h1{
   color:red;
}