body{
   margin:0px;
   /* min-width:768px; */
}

#For-mobile-tablet{
   background-image: radial-gradient(at left bottom , #006d77, #83c5be);
   height:100vh;
   /* overflow:hidden; */
   background-repeat:no-repeat;
}

#search-box{
   display:flex;
   flex-direction:row;
   justify-content:center;
}

#cont{
   position:relative;
   display:flex;
   border-radius:40px;
   background-color:#fff;
   width:60%;
   max-width:800px;
   min-width:450px;
   padding:10px 15px;
   gap:3%;
   justify-content:space-between;
   flex-direction:row;
   flex-wrap:nowrap;
}

.fa-solid{
   font-size: 50px;
}

#srh-field{
   width:100%;
   border:none;
   outline-style:none;
   font-size:40px;
}
